body{
    background-size: cover;
}

#object_name{
    width: 500px;
}

canvas{
    width: 500px;
    height: 500px;
    border: 10px dotted red;
}

h1{
    width: 1800px;
    height: 90px;
    text-align: center;
    font-size: 40px !important;
}
#input{
    font-size: 20px;
    color: red;
}